/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/led/led.h>

// 키 스위치 위치와 크기를 정의하기 위한 매크로
#include <physical_layouts.dtsi>

/ {
	model = "Keyboardio Preonic";
	compatible = "keyboardio_preonic";

	chosen {
		zephyr,code-partition = &slot0_partition;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zmk,kscan = &kscan0;
		zmk,underglow = &led_strip;
		zmk,physical-layout = &physical_layout0; // ZMK Studio용 물리적 레이아웃 등록
	};

	#define KRC(row, col) (((row) * 12) + (col))

	mit_layout: mit_layout {
		compatible = "zmk,matrix-transform";
		columns = <12>;
		rows = <6>;
		map = <
			KRC(5,9) KRC(5,10) KRC(5,11)
			KRC(0,0) KRC(0,1) KRC(0,2) KRC(0,3) KRC(0,4) KRC(0,5) KRC(0,6) KRC(0,7) KRC(0,8) KRC(0,9) KRC(0,10) KRC(0,11)
			KRC(1,0) KRC(1,1) KRC(1,2) KRC(1,3) KRC(1,4) KRC(1,5) KRC(1,6) KRC(1,7) KRC(1,8) KRC(1,9) KRC(1,10) KRC(1,11)
			KRC(2,0) KRC(2,1) KRC(2,2) KRC(2,3) KRC(2,4) KRC(2,5) KRC(2,6) KRC(2,7) KRC(2,8) KRC(2,9) KRC(2,10) KRC(2,11)
			KRC(3,0) KRC(3,1) KRC(3,2) KRC(3,3) KRC(3,4) KRC(3,5) KRC(3,6) KRC(3,7) KRC(3,8) KRC(3,9) KRC(3,10) KRC(3,11)
			KRC(4,0) KRC(4,1) KRC(4,2) KRC(4,3) KRC(4,4)     KRC(4,5)     KRC(4,7) KRC(4,8) KRC(4,9) KRC(4,10) KRC(4,11)
		>;
	};

	// ZMK Studio를 위한 키보드 물리적 모양 정의 (상단 3키 + 5x12 격자)
	physical_layout0: physical_layout_0 {
		compatible = "zmk,physical-layout";
		display-name = "Default Layout";
		transform = <&mit_layout>;
		kscan = <&kscan0>;
		keys = <&k0> , <&k1> , <&k2> , <&k3> , <&k4> , <&k5> , <&k6> , <&k7> , <&k8> , <&k9> , <&k10> , <&k11> , <&k12> , <&k13> , <&k14> , <&k15> , <&k16> , <&k17> , <&k18> , <&k19> , <&k20> , <&k21> , <&k22> , <&k23> , <&k24> , <&k25> , <&k26> , <&k27> , <&k28> , <&k29> , <&k30> , <&k31> , <&k32> , <&k33> , <&k34> , <&k35> , <&k36> , <&k37> , <&k38> , <&k39> , <&k40> , <&k41> , <&k42> , <&k43> , <&k44> , <&k45> , <&k46> , <&k47> , <&k48> , <&k49> , <&k50> , <&k51> , <&k52> , <&k53> , <&k54> , <&k55> , <&k56> , <&k57> , <&k58> , <&k59> , <&k60> , <&k61>;
	};

	k0: key_0 {
		width = <100>;
		height = <100>;
		x = <900>;
		y = <0>;
	};

	k1: key_1 {
		width = <100>;
		height = <100>;
		x = <1000>;
		y = <0>;
	};

	k2: key_2 {
		width = <100>;
		height = <100>;
		x = <1100>;
		y = <0>;
	};

	k3: key_3 {
		width = <100>;
		height = <100>;
		x = <0>;
		y = <100>;
	};

	k4: key_4 {
		width = <100>;
		height = <100>;
		x = <100>;
		y = <100>;
	};

	k5: key_5 {
		width = <100>;
		height = <100>;
		x = <200>;
		y = <100>;
	};

	k6: key_6 {
		width = <100>;
		height = <100>;
		x = <300>;
		y = <100>;
	};

	k7: key_7 {
		width = <100>;
		height = <100>;
		x = <400>;
		y = <100>;
	};

	k8: key_8 {
		width = <100>;
		height = <100>;
		x = <500>;
		y = <100>;
	};

	k9: key_9 {
		width = <100>;
		height = <100>;
		x = <600>;
		y = <100>;
	};

	k10: key_10 {
		width = <100>;
		height = <100>;
		x = <700>;
		y = <100>;
	};

	k11: key_11 {
		width = <100>;
		height = <100>;
		x = <800>;
		y = <100>;
	};

	k12: key_12 {
		width = <100>;
		height = <100>;
		x = <900>;
		y = <100>;
	};

	k13: key_13 {
		width = <100>;
		height = <100>;
		x = <1000>;
		y = <100>;
	};

	k14: key_14 {
		width = <100>;
		height = <100>;
		x = <1100>;
		y = <100>;
	};

	k15: key_15 {
		width = <100>;
		height = <100>;
		x = <0>;
		y = <200>;
	};

	k16: key_16 {
		width = <100>;
		height = <100>;
		x = <100>;
		y = <200>;
	};

	k17: key_17 {
		width = <100>;
		height = <100>;
		x = <200>;
		y = <200>;
	};

	k18: key_18 {
		width = <100>;
		height = <100>;
		x = <300>;
		y = <200>;
	};

	k19: key_19 {
		width = <100>;
		height = <100>;
		x = <400>;
		y = <200>;
	};

	k20: key_20 {
		width = <100>;
		height = <100>;
		x = <500>;
		y = <200>;
	};

	k21: key_21 {
		width = <100>;
		height = <100>;
		x = <600>;
		y = <200>;
	};

	k22: key_22 {
		width = <100>;
		height = <100>;
		x = <700>;
		y = <200>;
	};

	k23: key_23 {
		width = <100>;
		height = <100>;
		x = <800>;
		y = <200>;
	};

	k24: key_24 {
		width = <100>;
		height = <100>;
		x = <900>;
		y = <200>;
	};

	k25: key_25 {
		width = <100>;
		height = <100>;
		x = <1000>;
		y = <200>;
	};

	k26: key_26 {
		width = <100>;
		height = <100>;
		x = <1100>;
		y = <200>;
	};

	k27: key_27 {
		width = <100>;
		height = <100>;
		x = <0>;
		y = <300>;
	};

	k28: key_28 {
		width = <100>;
		height = <100>;
		x = <100>;
		y = <300>;
	};

	k29: key_29 {
		width = <100>;
		height = <100>;
		x = <200>;
		y = <300>;
	};

	k30: key_30 {
		width = <100>;
		height = <100>;
		x = <300>;
		y = <300>;
	};

	k31: key_31 {
		width = <100>;
		height = <100>;
		x = <400>;
		y = <300>;
	};

	k32: key_32 {
		width = <100>;
		height = <100>;
		x = <500>;
		y = <300>;
	};

	k33: key_33 {
		width = <100>;
		height = <100>;
		x = <600>;
		y = <300>;
	};

	k34: key_34 {
		width = <100>;
		height = <100>;
		x = <700>;
		y = <300>;
	};

	k35: key_35 {
		width = <100>;
		height = <100>;
		x = <800>;
		y = <300>;
	};

	k36: key_36 {
		width = <100>;
		height = <100>;
		x = <900>;
		y = <300>;
	};

	k37: key_37 {
		width = <100>;
		height = <100>;
		x = <1000>;
		y = <300>;
	};

	k38: key_38 {
		width = <100>;
		height = <100>;
		x = <1100>;
		y = <300>;
	};

	k39: key_39 {
		width = <100>;
		height = <100>;
		x = <0>;
		y = <400>;
	};

	k40: key_40 {
		width = <100>;
		height = <100>;
		x = <100>;
		y = <400>;
	};

	k41: key_41 {
		width = <100>;
		height = <100>;
		x = <200>;
		y = <400>;
	};

	k42: key_42 {
		width = <100>;
		height = <100>;
		x = <300>;
		y = <400>;
	};

	k43: key_43 {
		width = <100>;
		height = <100>;
		x = <400>;
		y = <400>;
	};

	k44: key_44 {
		width = <100>;
		height = <100>;
		x = <500>;
		y = <400>;
	};

	k45: key_45 {
		width = <100>;
		height = <100>;
		x = <600>;
		y = <400>;
	};

	k46: key_46 {
		width = <100>;
		height = <100>;
		x = <700>;
		y = <400>;
	};

	k47: key_47 {
		width = <100>;
		height = <100>;
		x = <800>;
		y = <400>;
	};

	k48: key_48 {
		width = <100>;
		height = <100>;
		x = <900>;
		y = <400>;
	};

	k49: key_49 {
		width = <100>;
		height = <100>;
		x = <1000>;
		y = <400>;
	};

	k50: key_50 {
		width = <100>;
		height = <100>;
		x = <1100>;
		y = <400>;
	};

	k51: key_51 {
		width = <100>;
		height = <100>;
		x = <0>;
		y = <500>;
	};

	k52: key_52 {
		width = <100>;
		height = <100>;
		x = <100>;
		y = <500>;
	};

	k53: key_53 {
		width = <100>;
		height = <100>;
		x = <200>;
		y = <500>;
	};

	k54: key_54 {
		width = <100>;
		height = <100>;
		x = <300>;
		y = <500>;
	};

	k55: key_55 {
		width = <100>;
		height = <100>;
		x = <400>;
		y = <500>;
	};

	k56: key_56 {
		width = <200>;
		height = <100>;
		x = <500>;
		y = <500>;
	};

	k57: key_57 {
		width = <100>;
		height = <100>;
		x = <700>;
		y = <500>;
	};

	k58: key_58 {
		width = <100>;
		height = <100>;
		x = <800>;
		y = <500>;
	};

	k59: key_59 {
		width = <100>;
		height = <100>;
		x = <900>;
		y = <500>;
	};

	k60: key_60 {
		width = <100>;
		height = <100>;
		x = <1000>;
		y = <500>;
	};

	k61: key_61 {
		width = <100>;
		height = <100>;
		x = <1100>;
		y = <500>;
	};

	kscan0: kscan {
		compatible = "zmk,kscan-gpio-matrix";
		label = "KSCAN";
		diode-direction = "col2row";
		row-gpios
			= <&gpio1 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio1 8  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio0 27 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio0 8  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio0 6  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			;
		col-gpios
			= <&gpio1 14 GPIO_ACTIVE_HIGH>
			, <&gpio1 12 GPIO_ACTIVE_HIGH>
			, <&gpio0 25 GPIO_ACTIVE_HIGH>
			, <&gpio0 26 GPIO_ACTIVE_HIGH>
			, <&gpio0 21 GPIO_ACTIVE_HIGH>
			, <&gpio0 23 GPIO_ACTIVE_HIGH>
			, <&gpio0 12 GPIO_ACTIVE_HIGH>
			, <&gpio1 9  GPIO_ACTIVE_HIGH>
			, <&gpio0 4  GPIO_ACTIVE_HIGH>
			, <&gpio0 31 GPIO_ACTIVE_HIGH>
			, <&gpio0 30 GPIO_ACTIVE_HIGH>
			, <&gpio0 29 GPIO_ACTIVE_HIGH>
			;
	};

	encoder: encoder {
		compatible = "alps,ec11";
		a-gpios = <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		b-gpios = <&gpio0 2  (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		steps = <80>;
		status = "okay";
	};

	sensors: sensors {
		compatible = "zmk,keymap-sensors";
		sensors = <&encoder>;
		triggers-per-rotation = <20>;
	};
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
	butterfly_power: ext_power_gpio {
		compatible = "zmk,ext-power-generic";
		status = "okay";
		control-gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
	};
};

&spi3 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi3_default>;
	pinctrl-names = "default";

	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		label = "SK6812";
		reg = <0>;
		spi-max-frequency = <4000000>;
		chain-length = <9>;
		spi-one-frame = <0x70>;
		spi-zero-frame = <0x40>;
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE>;
	};
};

&pinctrl {
	spi3_default: spi3_default {
		group1 {
			psels = <NRF_PSEL(SPIM_MOSI, 0, 24)>;
		};
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
		boot_partition: partition@0 { label = "mcuboot"; reg = <0x00000000 0x0000C000>; };
		slot0_partition: partition@c000 { label = "image-0"; reg = <0x0000C000 0x00076000>; };
		slot1_partition: partition@82000 { label = "image-1"; reg = <0x00082000 0x00076000>; };
		scratch_partition: partition@f8000 { label = "image-scratch"; reg = <0x000F8000 0x00006000>; };
		storage_partition: partition@fe000 { label = "storage"; reg = <0x000FE000 0x00002000>; };
	};
};

&gpiote {
	status = "okay";
};

// USB 디바이스 컨트롤러 활성화 (링킹 에러 해결)
&usbd {
	status = "okay";
	cdc_acm_uart: cdc_acm_uart {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};
