# Copyright (c) 2021 Pete Johanson
# SPDX-License-Identifier: MIT

if BOARD_KEYBOARDIO_PREONIC

config BOARD
	default "keyboardio_preonic"

config ZMK_KEYBOARD_NAME
	default "Keyboardio Preonic"

endif
